results/
data/
__pycache__/
wandb/
taming/
taming-transformers/
lightning_logs/
image_generation/
models--runwayml--stable-diffusion-v1-5/
.ipynb_checkpoints/
.cache/
MindVideo.egg-info/
notebooks/
*.out
*.npz
*.ckpt
*.DS_Store
*.zip
*.tar
*.pth
*.ckpt
*.bin
*.safetensors
eval_all_sub1_test.yaml